:host {
  display: block;
  font: 20px sans-serif;
  margin: 20px;
}

:host button {
  appearance: none;
  font: 20px sans-serif;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

:host .alert {
  padding: 20px;
  font: 16px monospace;
  white-space: pre-line;
}
